.fp-watermark {
  display: none !important;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -1000px; /* Horizontal position with a 200px offset */
}

.image1 {
  background-image: url("./images/alcoholSport.jpg");
}

.image2 {
  background-image: url("./images/image2.jpg");
}

.title {
  height: 100vh;
}

@media screen and (min-width: 960px) {
  .backgroundImage {
    background-position: right;
  }
}
