.fp-watermark {
  display: none !important;
}

.backgroundImage {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image1 {
  background-image: url("./images/image1.jpg");
  background-position: left;
}

.image2 {
  background-image: url("./images/image2-2.jpg");
}

.image3 {
  background-image: url("./images/image4-2.jpg");
}

.title {
  height: 100vh;
}

.headline {
  text-shadow: 2px 2px 3px black;
}

@media screen and (min-width: 960px) {
  .backgroundImage {
    background-position: right;
    background-size: cover;
  }
}
